body {
    background-image: url("dronee.jpg");
    background-color: #cccccc;
    background-repeat:repeat;
    background-position: center;
    background-size: cover;
   }
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    background-color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}
li{
    float: left;
    border-right: 1px solid #156ee2;

}
a{
   
    padding:2 28 ;
    color: #ffffff;
    

}
a:hover{
    background-color: #156ee2;
}
.active a{
    background-color: #104191;
}

header{
    font: 100;
    font-family: 'Courier New', Courier, monospace;
    border: #000000;
    background-color: rgba(0, 0, 0, 0.548);
font-size:50px;
    color: blue;
    padding: 8px;
    margin:7px;
    font-style: bold;
    font-style: italic;
   
   
    
}
p{
    font: 9px;
}
h2{
    font:11px
}
#first{
    width:20%;
    padding: 20px;
    border: 5px solid rgba(0, 0, 0, 0.329);
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
#sec{
    width: 300px;
   
    background-color: blue;
    color: black;
    font: outline;
    font-style: italic;
    position: relative;
    left: 78%;
    position: absolute;
    top:79%;
}
#third{
    border:rgba(45, 45, 48, 0.534);border-style:solid;
    padding:15px;
    border-width: 6px;
    font-size: large;
    font-family:cursive;
    background-color: #998e8e18;
    width: 20%;
    position: relative;
    left: 60%;
    position: absolute;
    top: 33%;
    
   
}footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:black;
    color: white;
    border: 5px;
}
h3{
    color:black;
    background-color: rgb(173, 29, 29);
}

 

   